html {
    scroll-padding-top: 100px;
}

.responsive {
    width: 100%;
    max-width: 640px;
    max-height: 700px;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .carousel-caption p, .carousel-caption h5 {
        font-size: 15px;
    }

    #competences {
        padding-bottom: 250px;
    }

    #realisations {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    #coordonnees {
        padding-bottom: 50px !important;
    }
}

@media only screen and (max-width: 360px) {
    .carousel-caption p, .carousel-caption h5 {
        font-size: 12px;
    }
}